body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.boton {
    width: 140px;
    height: 140px;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 12px;
    /* background-color: khaki;
    border-color: khaki; */
    border-style: solid;
}

.btn-oculto {
    width: 140px;
    height: 140px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border-style: solid;
}

.btn-reiniciar {
    width: 250px;
    margin-left: 30%;
    margin-right: 30%;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border-style: solid;
}
